<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Información de la Fruta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    <fieldset>
        <legend>Información de frutas</legend>
        <div class="form-group row">
            {% if fruta %}
            <p><strong>Nombre:</strong> {{ fruta.nombre }}</p>
            <p><strong>Cantidad:</strong> {{ fruta.cantidad }}</p>
            {% if (fruta.Nombre == "Manzana") %}
            <p><strong>Variedad:</strong> {{ fruta.variedad }}</p>
            {% elif (fruta.Nombre== "Banana") %}
            <p><strong>Madurez:</strong> {{ fruta.madurez }}</p>
            {% elif (fruta.Nombre == "Naranja") %}
            <p><strong>Dulzor:</strong> {{ fruta.dulzor }}</p>
            {% endif %}
            <p><strong>Descripcion:</strong> {{ fruta.descripcion() }}</p>
            {% else %}
            <p>La fruta seleccionada no fue encontrada en la lista.</p>
            {% endif %}
            <form method="get" action="/">
                <button type="submit" class="btn btn-primary">Mas frutas</button>
            </form>
        </div>
    </fieldset>
</body>
</html> -->

<!-- start_frutas.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Información de frutas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
  <form method="post" action="/mostrar_frutas">
    <legend>Información de frutas</legend>
    <fieldset  class="d-grid" >
      <label for="fruta">Selecciona una fruta:</label>
      <select id="fruta" name="fruta" class="col-form-label col-form-label-sm">
        <option value="Manzana">Manzana</option>
        <option value="Banana">Banana</option>
        <option value="Naranja">Naranja</option>
      </select>
      <label for="cantidad" class="col-form-label col-form-label-sm">Cantidad:</label>
      <input type="number" id="cantidad" name="cantidad" >
      <div id="atributos">
        <label for="variedad" class="col-form-label col-form-label-sm">Variedad:</label>
        <input type="text" id="variedad" name="variedad" >
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Revisar</button>
  </form>

  <script>
    const frutaSelect = document.getElementById("fruta");
    const atributosDiv = document.getElementById("atributos");

    function mostrarAtributos() {
      const fruta = frutaSelect.value;
      atributosDiv.innerHTML = "";

      if (fruta === "Manzana") {
        atributosDiv.innerHTML += `
            <label for="variedad" class="col-form-label col-form-label-sm">Variedad:</label>
            <input type="text" id="variedad" name="variedad">
          `;
      } else if (fruta === "Banana") {
        atributosDiv.innerHTML += `
            <label for="madurez" class="col-form-label col-form-label-sm">Madurez:</label>
            <input type="text" id="madurez" name="madurez">
          `;
      } else if (fruta === "Naranja") {
        atributosDiv.innerHTML += `
            <label for="dulzor" class="col-form-label col-form-label-sm">Dulzor:</label>
            <input type="text" id="dulzor" name="dulzor">
          `;
      }
    }
    frutaSelect.addEventListener("change", mostrarAtributos);
  </script>
</body>

</html>